#d1{
   width: 100%;
   height: 450px;
   background-color: gray;
   display: flex;
}
#d1>video{
    background-image: url(g1IZ.gif);
    background-repeat: no-repeat;
    background-size: 40% 400px;
    background-position: center;
    padding-left: 550px;
}
#heading1{
    font-size: 55px;
    position: absolute;
    bottom:450px;
    color: white;
    background-color: rgba(226, 156, 26, 0.285);
    border: 8px solid white;
    margin-left: 4%;
}
#heading2{
    font-size: 50px;
    position: absolute;
    bottom: 450px;
    margin-left: 750px;
    background-color: rgba(0, 0, 255, 0.418);
    border: 8px solid black;
    
}